<div class="container is-fluid" data-turbo-cache="false">
<%# data-turbo-cache prevents alert from flashing briefly if they leave a page and come back %>
  <% flash.each do |level, message| %>
    <%= tag.div \
          class: "notification is-#{level} is-light
            has-text-centered mt-4" do %>
        <%= message %>
    <% end %>
  <% end %>
</div>
